# Activar RewriteEngine
RewriteEngine on

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

# INDEX
RewriteRule ^index.php$ app/home/index.php [L]

# SEARCH
RewriteRule ^search$ app/search/search.php [L]
RewriteRule ^search/$ app/search/search.php [L]

# PROFILE
RewriteRule ^profile$ app/profile/profile.php [L]
RewriteRule ^profile/$ app/profile/profile.php [L]

# DIRECTORY CREATOR
#RewriteRule ^creators$ app/creator/creator.php [L]
#RewriteRule ^creators/$ app/creator/creator.php [L]
#RewriteRule ^creadores$ app/creator/creator.php [L]
#RewriteRule ^creadores/$ app/creator/creator.php [L]

# DIRECTORY CREATOR
#RewriteRule ^creators/(.+)/?$ app/creator/creator.php?idc=$1
#RewriteRule ^creators/(.+)?$ app/creator/creator.php?idc=$1
#RewriteRule ^creadores/(.+)/?$ app/creator/creator.php?idc=$1
#RewriteRule ^creadores/(.+)?$ app/creator/creator.php?idc=$1

#RewriteRule ^creators/(.+)/(.+)/?$ app/creator/creator.php?idc=$1&idg=$2
#RewriteRule ^creators/(.+)/(.+)?$ app/creator/creator.php?idc=$1&idg=$2
#RewriteRule ^creadores/(.+)/(.+)/?$ app/creator/creator.php?idc=$1&idg=$2
#RewriteRule ^creadores/(.+)/(.+)?$ app/creator/creator.php?idc=$1&idg=$2

RewriteRule ^creators/(.+)/(.+)/(.+)/?$ app/creator/creator.php?idc=$1&idg=$2&s=$3 [L]
RewriteRule ^creators/(.+)/(.+)/(.+)?$ app/creator/creator.php?idc=$1&idg=$2&s=$3 [L]
RewriteRule ^creators/(.+)/(.+)?$ app/creator/creator.php?idc=$1&idg=$2 [L]
RewriteRule ^creators/(.+)?$ app/creator/creator.php?idc=$1 [L]
RewriteRule ^creators/?$ app/creator/creator.php [L]

# DIRECTORY GAMES
RewriteRule ^games$ app/game/game.php [L]
RewriteRule ^games/$ app/game/game.php [L]
RewriteRule ^videojuegos$ app/game/game.php [L]
RewriteRule ^videojuegos/$ app/game/game.php [L]

# DIRECTORY NETWORKS
RewriteRule ^networks$ app/network/network.php [L]
RewriteRule ^networks/$ app/network/network.php [L]
RewriteRule ^redes$ app/network/network.php [L]
RewriteRule ^redes/$ app/network/network.php [L]

# SEARCH
RewriteRule ^search/(.+)/?$ app/search/search.php?str=$1
RewriteRule ^search/(.+)?$ app/search/search.php?str=$1

# PAGE CREATOR
RewriteRule ^([a-zA-Z0-9]+)$ app/page/page.php?url=$1
RewriteRule ^([a-zA-Z0-9]+)/$ app/page/page.php?url=$1

# PAGE GAME
RewriteRule ^game/(.+)/?$ app/game/gamed.php?game=$1
RewriteRule ^game/(.+)?$ app/game/gamed.php?game=$1