# Activar RewriteEngine
RewriteEngine on

#RewriteCond %{SERVER_PORT} 80

#RewriteBase /
#Profile
RewriteRule ^([a-zA-Z0-9]+)$ app/page/page.php?url=$1
#Game
RewriteRule ^game/(.+)/?$ app/game/gamed.php?game=$1
RewriteRule ^game/(.+)?$ app/game/gamed.php?game=$1